.mail .header table th {
    text-align: right;
}

.mail .header {
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
}

.mail {
    font-family: Helvatica, Calibri, sans-serif;
}

@media print {
    .mail {
        page-break-after: always;
        font-size: 1.5em;
    }
}